/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff; /* Blue color */
    padding: 10px;
    color: #fff;
  }
  
  .logo img {
    max-height: 50px;
  }
  
  .company-name h1 {
    font-size: 24px;
    margin-left: auto; /* Move h1 to the right */
  }
  
  main {
    padding: 20px;
  }
  
  .company-details,
  .contact-form,
  .google-reviews,
  .services {
    background-color: #fff; /* White background */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow */
  }
  
  h2 {
    margin-bottom: 10px;
    color: #007bff; /* Blue color */
  }
  
  ul {
    list-style-type: none;
  }
  
  ul li {
    margin-bottom: 5px;
  }
  
  form input,
  form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc; /* Light gray border */
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
  }
  